.product-container {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  height: 100vh;
  width: 100%;
 
  
}

.product-card {
  background-color: #f7e3c1;
  border: none;
  border-radius: 15px;
  /* padding: 5px; */
  text-align: center;
  height: 560px;
  width: 350px;
  transition: 0.4s ease ease-in-out;
}

.product-card:hover{
  transform: scale(1.03);
  box-shadow: 4px 4px 15px #c1b9b9  ;
}

.product-image {
  height: 330px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
  margin-bottom: 15px;
}

.product-image img{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   border-radius: 15px;

}

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: start;

}

.product-price,
.product-shelf-life {
  color: #555;
  margin: 5px 0;
  text-align: left;
}

.product-weight select {
margin: 10px 0;
padding: 5px;
height: 40px;
width: 145px;
border-radius: 5px;
font-size: 16px;
background-color: white;
border: 1px solid #ccc;
color: #333;
cursor: pointer;
outline: none;
transition: all 0.3s ease;
}


.product-weight select option {
background-color: #fff;
color: #333; 
}


.product-weight select option:hover,
.product-weight select option:focus {
background-color: #e05656; 
color: #fff; 
}

.box
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}


.quantity-selector
{
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  /* display: flex; */
}
.quantity-selector button {
  width: 50px;
  height: 40px;
  margin: 0 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #6b6a6a;
  background-color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  
}

.add-to-cart {
  background-color: #e05656;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  width: 100%;
  height: 45px;
  margin-top: 18px;
  font-size: 18px;
  text-align: center;

}

.add-to-cart:hover {
  background-color: #c73c3c;
}

@media(max-width:1500px) {
  .product-container
  {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 2;
    flex-grow: 1;
  }

  .product-card
  {
    margin: 12px;
  }


}