.forget-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: white;
}

.forget-password-title {
    font-size: 24px;
    color: #d23c3c;
    font-weight: bold;
    margin-bottom: 15px;
}

.forget-password-box {
    width: 400px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forget-password-box p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.forget-password-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}

.forget-password-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #d23c3c;
    color: white;
}

.forget-password-btn:hover {
    background-color: #b52f2f;
}

/* Cancel Link - Outside the Box */
.cancel-link {
    margin-top: 15px;
    color: #d23c3c;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.cancel-link:hover {
    text-decoration: underline;
}

.character-img-forget {
    display: block;
    position: relative;
    /* margin: 0 auto; */
    width: 121px;
    top: 104px;
    left: -197px;
    z-index: 1;
}